# Dataprep

This notebook is primarily used to prep the data for further analysis. It also contains plots of the different timeseries being investigated.

In [1]:
# Loading modules
# dataprocessing can be accessed with dp
# plotting can be accessed with plot
from modules import *

import itertools

%load_ext autoreload
%autoreload 2

Once we have everything loaded we can set the relevant parameters for processing

In [8]:
# What data to load
load_seaice   = True
load_indicies = True
load_ERA5     = True

# What indicies and variables
indicies  = ['SAM','DMI','IPO']
variables = ['t2m']

# Resolutions to save data as.
resolutions = [1,5,10,20]
n = 5

# temporal averages
temporal_resolution = ['monthly', 'seasonally', 'annually']

# temporal_breakdown
temporal_decomp = ['raw', 'anomalous']

Now we can do all the computations

In [10]:
# Generate a processor object
processor = dp.dataprocessor()

# Load in datasets
processor.load_data(load_seaice   = load_seaice,
                    load_indicies = load_indicies,
                    load_ERA5     = load_ERA5,
                    indicies      = indicies,
                    variables     = variables)

------------------------------------------------------------
                Generating a data processor
------------------------------------------------------------
------------------------------------------------------------
              Loading seaice data from NSIDC
------------------------------------------------------------
------------------------------------------------------------
                    Loading index data
------------------------------------------------------------
------------------------------------------------------------
                  Loading ECMWF ERA5 data
------------------------------------------------------------

In [67]:
# Change resolution of data
processor.decomposition()

[autoreload of modules.dataprocessing failed: Traceback (most recent call last):
  File "C:\Users\hjel867\AppData\Local\Continuum\anaconda3\envs\Antarctica_1\lib\site-packages\IPython\extensions\autoreload.py", line 245, in check
    superreload(m, reload, self.old_objects)
  File "C:\Users\hjel867\AppData\Local\Continuum\anaconda3\envs\Antarctica_1\lib\site-packages\IPython\extensions\autoreload.py", line 394, in superreload
    module = reload(module)
  File "C:\Users\hjel867\AppData\Local\Continuum\anaconda3\envs\Antarctica_1\lib\imp.py", line 314, in reload
    return importlib.reload(module)
  File "C:\Users\hjel867\AppData\Local\Continuum\anaconda3\envs\Antarctica_1\lib\importlib\__init__.py", line 169, in reload
    _bootstrap._exec(spec, module)
  File "<frozen importlib._bootstrap>", line 604, in _exec
  File "<frozen importlib._bootstrap_external>", line 783, in exec_module
  File "<frozen importlib._bootstrap>", line 219, in _call_with_frames_removed
  File "H:\Github\Antarctica-M.1\modules\dataprocessing.py", line 10, in <module>
    import matplotlib.pyplot as plt
ModuleNotFoundError: No module named 'matplotlib'
]

------------------------------------------------------------
                   Splitting the data up
------------------------------------------------------------
1 monthly raw
1 monthly anomalous
1 seasonally raw
<xarray.DataArray 'time' (time: 161)>
array(['1978-12-01T00:00:00.000000000', '1979-03-01T00:00:00.000000000',
       '1979-06-01T00:00:00.000000000', '1979-09-01T00:00:00.000000000',
       '1979-12-01T00:00:00.000000000', '1980-03-01T00:00:00.000000000',
       '1980-06-01T00:00:00.000000000', '1980-09-01T00:00:00.000000000',
       '1980-12-01T00:00:00.000000000', '1981-03-01T00:00:00.000000000',
       '1981-06-01T00:00:00.000000000', '1981-09-01T00:00:00.000000000',
       '1981-12-01T00:00:00.000000000', '1982-03-01T00:00:00.000000000',
       '1982-06-01T00:00:00.000000000', '1982-09-01T00:00:00.000000000',
       '1982-12-01T00:00:00.000000000', '1983-03-01T00:00:00.000000000',
       '1983-06-01T00:00:00.000000000', '1983-09-01T00:00:00.000000000',
       '1983-12-01T00:00:00.000000000', '1984-03-01T00:00:00.000000000',
       '1984-06-01T00:00:00.000000000', '1984-09-01T00:00:00.000000000',
       '1984-12-01T00:00:00.000000000', '1985-03-01T00:00:00.000000000',
       '1985-06-01T00:00:00.000000000', '1985-09-01T00:00:00.000000000',
       '1985-12-01T00:00:00.000000000', '1986-03-01T00:00:00.000000000',
       '1986-06-01T00:00:00.000000000', '1986-09-01T00:00:00.000000000',
       '1986-12-01T00:00:00.000000000', '1987-03-01T00:00:00.000000000',
       '1987-06-01T00:00:00.000000000', '1987-09-01T00:00:00.000000000',
       '1987-12-01T00:00:00.000000000', '1988-03-01T00:00:00.000000000',
       '1988-06-01T00:00:00.000000000', '1988-09-01T00:00:00.000000000',
       '1988-12-01T00:00:00.000000000', '1989-03-01T00:00:00.000000000',
       '1989-06-01T00:00:00.000000000', '1989-09-01T00:00:00.000000000',
       '1989-12-01T00:00:00.000000000', '1990-03-01T00:00:00.000000000',
       '1990-06-01T00:00:00.000000000', '1990-09-01T00:00:00.000000000',
       '1990-12-01T00:00:00.000000000', '1991-03-01T00:00:00.000000000',
       '1991-06-01T00:00:00.000000000', '1991-09-01T00:00:00.000000000',
       '1991-12-01T00:00:00.000000000', '1992-03-01T00:00:00.000000000',
       '1992-06-01T00:00:00.000000000', '1992-09-01T00:00:00.000000000',
       '1992-12-01T00:00:00.000000000', '1993-03-01T00:00:00.000000000',
       '1993-06-01T00:00:00.000000000', '1993-09-01T00:00:00.000000000',
       '1993-12-01T00:00:00.000000000', '1994-03-01T00:00:00.000000000',
       '1994-06-01T00:00:00.000000000', '1994-09-01T00:00:00.000000000',
       '1994-12-01T00:00:00.000000000', '1995-03-01T00:00:00.000000000',
       '1995-06-01T00:00:00.000000000', '1995-09-01T00:00:00.000000000',
       '1995-12-01T00:00:00.000000000', '1996-03-01T00:00:00.000000000',
       '1996-06-01T00:00:00.000000000', '1996-09-01T00:00:00.000000000',
       '1996-12-01T00:00:00.000000000', '1997-03-01T00:00:00.000000000',
       '1997-06-01T00:00:00.000000000', '1997-09-01T00:00:00.000000000',
       '1997-12-01T00:00:00.000000000', '1998-03-01T00:00:00.000000000',
       '1998-06-01T00:00:00.000000000', '1998-09-01T00:00:00.000000000',
       '1998-12-01T00:00:00.000000000', '1999-03-01T00:00:00.000000000',
       '1999-06-01T00:00:00.000000000', '1999-09-01T00:00:00.000000000',
       '1999-12-01T00:00:00.000000000', '2000-03-01T00:00:00.000000000',
       '2000-06-01T00:00:00.000000000', '2000-09-01T00:00:00.000000000',
       '2000-12-01T00:00:00.000000000', '2001-03-01T00:00:00.000000000',
       '2001-06-01T00:00:00.000000000', '2001-09-01T00:00:00.000000000',
       '2001-12-01T00:00:00.000000000', '2002-03-01T00:00:00.000000000',
       '2002-06-01T00:00:00.000000000', '2002-09-01T00:00:00.000000000',
       '2002-12-01T00:00:00.000000000', '2003-03-01T00:00:00.000000000',
       '2003-06-01T00:00:00.000000000', '2003-09-01T00:00:00.000000000',
       '2003-12-01T00:00:00.000000000', '2004-03-01T00:00:00.000000000',
       '2004-06-01T00:00:00.000000000', '2004-09-01T00:00:00.000000000',
       '2004-12-01T00:00:00.000000000', '2005-03-01T00:00:00.000000000',
       '2005-06-01T00:00:00.000000000', '2005-09-01T00:00:00.000000000',
       '2005-12-01T00:00:00.000000000', '2006-03-01T00:00:00.000000000',
       '2006-06-01T00:00:00.000000000', '2006-09-01T00:00:00.000000000',
       '2006-12-01T00:00:00.000000000', '2007-03-01T00:00:00.000000000',
       '2007-06-01T00:00:00.000000000', '2007-09-01T00:00:00.000000000',
       '2007-12-01T00:00:00.000000000', '2008-03-01T00:00:00.000000000',
       '2008-06-01T00:00:00.000000000', '2008-09-01T00:00:00.000000000',
       '2008-12-01T00:00:00.000000000', '2009-03-01T00:00:00.000000000',
       '2009-06-01T00:00:00.000000000', '2009-09-01T00:00:00.000000000',
       '2009-12-01T00:00:00.000000000', '2010-03-01T00:00:00.000000000',
       '2010-06-01T00:00:00.000000000', '2010-09-01T00:00:00.000000000',
       '2010-12-01T00:00:00.000000000', '2011-03-01T00:00:00.000000000',
       '2011-06-01T00:00:00.000000000', '2011-09-01T00:00:00.000000000',
       '2011-12-01T00:00:00.000000000', '2012-03-01T00:00:00.000000000',
       '2012-06-01T00:00:00.000000000', '2012-09-01T00:00:00.000000000',
       '2012-12-01T00:00:00.000000000', '2013-03-01T00:00:00.000000000',
       '2013-06-01T00:00:00.000000000', '2013-09-01T00:00:00.000000000',
       '2013-12-01T00:00:00.000000000', '2014-03-01T00:00:00.000000000',
       '2014-06-01T00:00:00.000000000', '2014-09-01T00:00:00.000000000',
       '2014-12-01T00:00:00.000000000', '2015-03-01T00:00:00.000000000',
       '2015-06-01T00:00:00.000000000', '2015-09-01T00:00:00.000000000',
       '2015-12-01T00:00:00.000000000', '2016-03-01T00:00:00.000000000',
       '2016-06-01T00:00:00.000000000', '2016-09-01T00:00:00.000000000',
       '2016-12-01T00:00:00.000000000', '2017-03-01T00:00:00.000000000',
       '2017-06-01T00:00:00.000000000', '2017-09-01T00:00:00.000000000',
       '2017-12-01T00:00:00.000000000', '2018-03-01T00:00:00.000000000',
       '2018-06-01T00:00:00.000000000', '2018-09-01T00:00:00.000000000',
       '2018-12-01T00:00:00.000000000'], dtype='datetime64[ns]')
Coordinates:
  * time     (time) datetime64[ns] 1978-12-01 1979-03-01 ... 2018-12-01
1 seasonally anomalous
<xarray.DataArray 'time' (time: 161)>
array(['1978-12-01T00:00:00.000000000', '1979-03-01T00:00:00.000000000',
       '1979-06-01T00:00:00.000000000', '1979-09-01T00:00:00.000000000',
       '1979-12-01T00:00:00.000000000', '1980-03-01T00:00:00.000000000',
       '1980-06-01T00:00:00.000000000', '1980-09-01T00:00:00.000000000',
       '1980-12-01T00:00:00.000000000', '1981-03-01T00:00:00.000000000',
       '1981-06-01T00:00:00.000000000', '1981-09-01T00:00:00.000000000',
       '1981-12-01T00:00:00.000000000', '1982-03-01T00:00:00.000000000',
       '1982-06-01T00:00:00.000000000', '1982-09-01T00:00:00.000000000',
       '1982-12-01T00:00:00.000000000', '1983-03-01T00:00:00.000000000',
       '1983-06-01T00:00:00.000000000', '1983-09-01T00:00:00.000000000',
       '1983-12-01T00:00:00.000000000', '1984-03-01T00:00:00.000000000',
       '1984-06-01T00:00:00.000000000', '1984-09-01T00:00:00.000000000',
       '1984-12-01T00:00:00.000000000', '1985-03-01T00:00:00.000000000',
       '1985-06-01T00:00:00.000000000', '1985-09-01T00:00:00.000000000',
       '1985-12-01T00:00:00.000000000', '1986-03-01T00:00:00.000000000',
       '1986-06-01T00:00:00.000000000', '1986-09-01T00:00:00.000000000',
       '1986-12-01T00:00:00.000000000', '1987-03-01T00:00:00.000000000',
       '1987-06-01T00:00:00.000000000', '1987-09-01T00:00:00.000000000',
       '1987-12-01T00:00:00.000000000', '1988-03-01T00:00:00.000000000',
       '1988-06-01T00:00:00.000000000', '1988-09-01T00:00:00.000000000',
       '1988-12-01T00:00:00.000000000', '1989-03-01T00:00:00.000000000',
       '1989-06-01T00:00:00.000000000', '1989-09-01T00:00:00.000000000',
       '1989-12-01T00:00:00.000000000', '1990-03-01T00:00:00.000000000',
       '1990-06-01T00:00:00.000000000', '1990-09-01T00:00:00.000000000',
       '1990-12-01T00:00:00.000000000', '1991-03-01T00:00:00.000000000',
       '1991-06-01T00:00:00.000000000', '1991-09-01T00:00:00.000000000',
       '1991-12-01T00:00:00.000000000', '1992-03-01T00:00:00.000000000',
       '1992-06-01T00:00:00.000000000', '1992-09-01T00:00:00.000000000',
       '1992-12-01T00:00:00.000000000', '1993-03-01T00:00:00.000000000',
       '1993-06-01T00:00:00.000000000', '1993-09-01T00:00:00.000000000',
       '1993-12-01T00:00:00.000000000', '1994-03-01T00:00:00.000000000',
       '1994-06-01T00:00:00.000000000', '1994-09-01T00:00:00.000000000',
       '1994-12-01T00:00:00.000000000', '1995-03-01T00:00:00.000000000',
       '1995-06-01T00:00:00.000000000', '1995-09-01T00:00:00.000000000',
       '1995-12-01T00:00:00.000000000', '1996-03-01T00:00:00.000000000',
       '1996-06-01T00:00:00.000000000', '1996-09-01T00:00:00.000000000',
       '1996-12-01T00:00:00.000000000', '1997-03-01T00:00:00.000000000',
       '1997-06-01T00:00:00.000000000', '1997-09-01T00:00:00.000000000',
       '1997-12-01T00:00:00.000000000', '1998-03-01T00:00:00.000000000',
       '1998-06-01T00:00:00.000000000', '1998-09-01T00:00:00.000000000',
       '1998-12-01T00:00:00.000000000', '1999-03-01T00:00:00.000000000',
       '1999-06-01T00:00:00.000000000', '1999-09-01T00:00:00.000000000',
       '1999-12-01T00:00:00.000000000', '2000-03-01T00:00:00.000000000',
       '2000-06-01T00:00:00.000000000', '2000-09-01T00:00:00.000000000',
       '2000-12-01T00:00:00.000000000', '2001-03-01T00:00:00.000000000',
       '2001-06-01T00:00:00.000000000', '2001-09-01T00:00:00.000000000',
       '2001-12-01T00:00:00.000000000', '2002-03-01T00:00:00.000000000',
       '2002-06-01T00:00:00.000000000', '2002-09-01T00:00:00.000000000',
       '2002-12-01T00:00:00.000000000', '2003-03-01T00:00:00.000000000',
       '2003-06-01T00:00:00.000000000', '2003-09-01T00:00:00.000000000',
       '2003-12-01T00:00:00.000000000', '2004-03-01T00:00:00.000000000',
       '2004-06-01T00:00:00.000000000', '2004-09-01T00:00:00.000000000',
       '2004-12-01T00:00:00.000000000', '2005-03-01T00:00:00.000000000',
       '2005-06-01T00:00:00.000000000', '2005-09-01T00:00:00.000000000',
       '2005-12-01T00:00:00.000000000', '2006-03-01T00:00:00.000000000',
       '2006-06-01T00:00:00.000000000', '2006-09-01T00:00:00.000000000',
       '2006-12-01T00:00:00.000000000', '2007-03-01T00:00:00.000000000',
       '2007-06-01T00:00:00.000000000', '2007-09-01T00:00:00.000000000',
       '2007-12-01T00:00:00.000000000', '2008-03-01T00:00:00.000000000',
       '2008-06-01T00:00:00.000000000', '2008-09-01T00:00:00.000000000',
       '2008-12-01T00:00:00.000000000', '2009-03-01T00:00:00.000000000',
       '2009-06-01T00:00:00.000000000', '2009-09-01T00:00:00.000000000',
       '2009-12-01T00:00:00.000000000', '2010-03-01T00:00:00.000000000',
       '2010-06-01T00:00:00.000000000', '2010-09-01T00:00:00.000000000',
       '2010-12-01T00:00:00.000000000', '2011-03-01T00:00:00.000000000',
       '2011-06-01T00:00:00.000000000', '2011-09-01T00:00:00.000000000',
       '2011-12-01T00:00:00.000000000', '2012-03-01T00:00:00.000000000',
       '2012-06-01T00:00:00.000000000', '2012-09-01T00:00:00.000000000',
       '2012-12-01T00:00:00.000000000', '2013-03-01T00:00:00.000000000',
       '2013-06-01T00:00:00.000000000', '2013-09-01T00:00:00.000000000',
       '2013-12-01T00:00:00.000000000', '2014-03-01T00:00:00.000000000',
       '2014-06-01T00:00:00.000000000', '2014-09-01T00:00:00.000000000',
       '2014-12-01T00:00:00.000000000', '2015-03-01T00:00:00.000000000',
       '2015-06-01T00:00:00.000000000', '2015-09-01T00:00:00.000000000',
       '2015-12-01T00:00:00.000000000', '2016-03-01T00:00:00.000000000',
       '2016-06-01T00:00:00.000000000', '2016-09-01T00:00:00.000000000',
       '2016-12-01T00:00:00.000000000', '2017-03-01T00:00:00.000000000',
       '2017-06-01T00:00:00.000000000', '2017-09-01T00:00:00.000000000',
       '2017-12-01T00:00:00.000000000', '2018-03-01T00:00:00.000000000',
       '2018-06-01T00:00:00.000000000', '2018-09-01T00:00:00.000000000',
       '2018-12-01T00:00:00.000000000'], dtype='datetime64[ns]')
Coordinates:
  * time     (time) datetime64[ns] 1978-12-01 1979-03-01 ... 2018-12-01
1 annually raw
1 annually anomalous
5 monthly raw
5 monthly anomalous
5 seasonally raw
<xarray.DataArray 'time' (time: 161)>
array(['1978-12-01T00:00:00.000000000', '1979-03-01T00:00:00.000000000',
       '1979-06-01T00:00:00.000000000', '1979-09-01T00:00:00.000000000',
       '1979-12-01T00:00:00.000000000', '1980-03-01T00:00:00.000000000',
       '1980-06-01T00:00:00.000000000', '1980-09-01T00:00:00.000000000',
       '1980-12-01T00:00:00.000000000', '1981-03-01T00:00:00.000000000',
       '1981-06-01T00:00:00.000000000', '1981-09-01T00:00:00.000000000',
       '1981-12-01T00:00:00.000000000', '1982-03-01T00:00:00.000000000',
       '1982-06-01T00:00:00.000000000', '1982-09-01T00:00:00.000000000',
       '1982-12-01T00:00:00.000000000', '1983-03-01T00:00:00.000000000',
       '1983-06-01T00:00:00.000000000', '1983-09-01T00:00:00.000000000',
       '1983-12-01T00:00:00.000000000', '1984-03-01T00:00:00.000000000',
       '1984-06-01T00:00:00.000000000', '1984-09-01T00:00:00.000000000',
       '1984-12-01T00:00:00.000000000', '1985-03-01T00:00:00.000000000',
       '1985-06-01T00:00:00.000000000', '1985-09-01T00:00:00.000000000',
       '1985-12-01T00:00:00.000000000', '1986-03-01T00:00:00.000000000',
       '1986-06-01T00:00:00.000000000', '1986-09-01T00:00:00.000000000',
       '1986-12-01T00:00:00.000000000', '1987-03-01T00:00:00.000000000',
       '1987-06-01T00:00:00.000000000', '1987-09-01T00:00:00.000000000',
       '1987-12-01T00:00:00.000000000', '1988-03-01T00:00:00.000000000',
       '1988-06-01T00:00:00.000000000', '1988-09-01T00:00:00.000000000',
       '1988-12-01T00:00:00.000000000', '1989-03-01T00:00:00.000000000',
       '1989-06-01T00:00:00.000000000', '1989-09-01T00:00:00.000000000',
       '1989-12-01T00:00:00.000000000', '1990-03-01T00:00:00.000000000',
       '1990-06-01T00:00:00.000000000', '1990-09-01T00:00:00.000000000',
       '1990-12-01T00:00:00.000000000', '1991-03-01T00:00:00.000000000',
       '1991-06-01T00:00:00.000000000', '1991-09-01T00:00:00.000000000',
       '1991-12-01T00:00:00.000000000', '1992-03-01T00:00:00.000000000',
       '1992-06-01T00:00:00.000000000', '1992-09-01T00:00:00.000000000',
       '1992-12-01T00:00:00.000000000', '1993-03-01T00:00:00.000000000',
       '1993-06-01T00:00:00.000000000', '1993-09-01T00:00:00.000000000',
       '1993-12-01T00:00:00.000000000', '1994-03-01T00:00:00.000000000',
       '1994-06-01T00:00:00.000000000', '1994-09-01T00:00:00.000000000',
       '1994-12-01T00:00:00.000000000', '1995-03-01T00:00:00.000000000',
       '1995-06-01T00:00:00.000000000', '1995-09-01T00:00:00.000000000',
       '1995-12-01T00:00:00.000000000', '1996-03-01T00:00:00.000000000',
       '1996-06-01T00:00:00.000000000', '1996-09-01T00:00:00.000000000',
       '1996-12-01T00:00:00.000000000', '1997-03-01T00:00:00.000000000',
       '1997-06-01T00:00:00.000000000', '1997-09-01T00:00:00.000000000',
       '1997-12-01T00:00:00.000000000', '1998-03-01T00:00:00.000000000',
       '1998-06-01T00:00:00.000000000', '1998-09-01T00:00:00.000000000',
       '1998-12-01T00:00:00.000000000', '1999-03-01T00:00:00.000000000',
       '1999-06-01T00:00:00.000000000', '1999-09-01T00:00:00.000000000',
       '1999-12-01T00:00:00.000000000', '2000-03-01T00:00:00.000000000',
       '2000-06-01T00:00:00.000000000', '2000-09-01T00:00:00.000000000',
       '2000-12-01T00:00:00.000000000', '2001-03-01T00:00:00.000000000',
       '2001-06-01T00:00:00.000000000', '2001-09-01T00:00:00.000000000',
       '2001-12-01T00:00:00.000000000', '2002-03-01T00:00:00.000000000',
       '2002-06-01T00:00:00.000000000', '2002-09-01T00:00:00.000000000',
       '2002-12-01T00:00:00.000000000', '2003-03-01T00:00:00.000000000',
       '2003-06-01T00:00:00.000000000', '2003-09-01T00:00:00.000000000',
       '2003-12-01T00:00:00.000000000', '2004-03-01T00:00:00.000000000',
       '2004-06-01T00:00:00.000000000', '2004-09-01T00:00:00.000000000',
       '2004-12-01T00:00:00.000000000', '2005-03-01T00:00:00.000000000',
       '2005-06-01T00:00:00.000000000', '2005-09-01T00:00:00.000000000',
       '2005-12-01T00:00:00.000000000', '2006-03-01T00:00:00.000000000',
       '2006-06-01T00:00:00.000000000', '2006-09-01T00:00:00.000000000',
       '2006-12-01T00:00:00.000000000', '2007-03-01T00:00:00.000000000',
       '2007-06-01T00:00:00.000000000', '2007-09-01T00:00:00.000000000',
       '2007-12-01T00:00:00.000000000', '2008-03-01T00:00:00.000000000',
       '2008-06-01T00:00:00.000000000', '2008-09-01T00:00:00.000000000',
       '2008-12-01T00:00:00.000000000', '2009-03-01T00:00:00.000000000',
       '2009-06-01T00:00:00.000000000', '2009-09-01T00:00:00.000000000',
       '2009-12-01T00:00:00.000000000', '2010-03-01T00:00:00.000000000',
       '2010-06-01T00:00:00.000000000', '2010-09-01T00:00:00.000000000',
       '2010-12-01T00:00:00.000000000', '2011-03-01T00:00:00.000000000',
       '2011-06-01T00:00:00.000000000', '2011-09-01T00:00:00.000000000',
       '2011-12-01T00:00:00.000000000', '2012-03-01T00:00:00.000000000',
       '2012-06-01T00:00:00.000000000', '2012-09-01T00:00:00.000000000',
       '2012-12-01T00:00:00.000000000', '2013-03-01T00:00:00.000000000',
       '2013-06-01T00:00:00.000000000', '2013-09-01T00:00:00.000000000',
       '2013-12-01T00:00:00.000000000', '2014-03-01T00:00:00.000000000',
       '2014-06-01T00:00:00.000000000', '2014-09-01T00:00:00.000000000',
       '2014-12-01T00:00:00.000000000', '2015-03-01T00:00:00.000000000',
       '2015-06-01T00:00:00.000000000', '2015-09-01T00:00:00.000000000',
       '2015-12-01T00:00:00.000000000', '2016-03-01T00:00:00.000000000',
       '2016-06-01T00:00:00.000000000', '2016-09-01T00:00:00.000000000',
       '2016-12-01T00:00:00.000000000', '2017-03-01T00:00:00.000000000',
       '2017-06-01T00:00:00.000000000', '2017-09-01T00:00:00.000000000',
       '2017-12-01T00:00:00.000000000', '2018-03-01T00:00:00.000000000',
       '2018-06-01T00:00:00.000000000', '2018-09-01T00:00:00.000000000',
       '2018-12-01T00:00:00.000000000'], dtype='datetime64[ns]')
Coordinates:
  * time     (time) datetime64[ns] 1978-12-01 1979-03-01 ... 2018-12-01
5 seasonally anomalous
<xarray.DataArray 'time' (time: 161)>
array(['1978-12-01T00:00:00.000000000', '1979-03-01T00:00:00.000000000',
       '1979-06-01T00:00:00.000000000', '1979-09-01T00:00:00.000000000',
       '1979-12-01T00:00:00.000000000', '1980-03-01T00:00:00.000000000',
       '1980-06-01T00:00:00.000000000', '1980-09-01T00:00:00.000000000',
       '1980-12-01T00:00:00.000000000', '1981-03-01T00:00:00.000000000',
       '1981-06-01T00:00:00.000000000', '1981-09-01T00:00:00.000000000',
       '1981-12-01T00:00:00.000000000', '1982-03-01T00:00:00.000000000',
       '1982-06-01T00:00:00.000000000', '1982-09-01T00:00:00.000000000',
       '1982-12-01T00:00:00.000000000', '1983-03-01T00:00:00.000000000',
       '1983-06-01T00:00:00.000000000', '1983-09-01T00:00:00.000000000',
       '1983-12-01T00:00:00.000000000', '1984-03-01T00:00:00.000000000',
       '1984-06-01T00:00:00.000000000', '1984-09-01T00:00:00.000000000',
       '1984-12-01T00:00:00.000000000', '1985-03-01T00:00:00.000000000',
       '1985-06-01T00:00:00.000000000', '1985-09-01T00:00:00.000000000',
       '1985-12-01T00:00:00.000000000', '1986-03-01T00:00:00.000000000',
       '1986-06-01T00:00:00.000000000', '1986-09-01T00:00:00.000000000',
       '1986-12-01T00:00:00.000000000', '1987-03-01T00:00:00.000000000',
       '1987-06-01T00:00:00.000000000', '1987-09-01T00:00:00.000000000',
       '1987-12-01T00:00:00.000000000', '1988-03-01T00:00:00.000000000',
       '1988-06-01T00:00:00.000000000', '1988-09-01T00:00:00.000000000',

In [20]:
# Regridding

In [ ]:
# Temporal decomposition

In [ ]:
# Save to file

In [ ]:
processor.seaice_data.data